In [1]:
import pandas as pd
import numpy as np

In [2]:
f = "/bigstore/GeneralStorage/fangming/projects/dredfish/packages/PaintSHOP_pipeline/test2/data/mm10.refGene.gtf"
df = pd.read_csv(f, sep="\t", header=None)
df = df[df[2]=='exon']
df[9]  = df[8].apply(lambda x: x.split(';')[0][len("gene_id__"):-1])
df[10] = df[8].apply(lambda x: x.split(';')[1][len(" transcript_id__"):-1])
df

,0,1,2,3,4,5,6,7,8,9,10
1,chr12,refGene,exon,98746968,98747158,.,+,.,"gene_id ""Zc3h14""; transcript_id ""NM_001160107""...",Zc3h14,NM_001160107
4,chr12,refGene,exon,98747480,98747522,.,+,.,"gene_id ""Zc3h14""; transcript_id ""NM_001160107""...",Zc3h14,NM_001160107
6,chr12,refGene,exon,98752778,98752892,.,+,.,"gene_id ""Zc3h14""; transcript_id ""NM_001160107""...",Zc3h14,NM_001160107
8,chr12,refGene,exon,98756185,98756225,.,+,.,"gene_id ""Zc3h14""; transcript_id ""NM_001160107""...",Zc3h14,NM_001160107
10,chr12,refGene,exon,98757009,98757204,.,+,.,"gene_id ""Zc3h14""; transcript_id ""NM_001160107""...",Zc3h14,NM_001160107
...,...,...,...,...,...,...,...,...,...,...,...
1014760,chr19,refGene,exon,24132606,24132708,.,-,.,"gene_id ""Tjp2""; transcript_id ""NM_001376368""; ...",Tjp2,NM_001376368
1014762,chr19,refGene,exon,24134850,24134974,.,-,.,"gene_id ""Tjp2""; transcript_id ""NM_001376368""; ...",Tjp2,NM_001376368
1014764,chr19,refGene,exon,24138779,24138832,.,-,.,"gene_id ""Tjp2""; transcript_id ""NM_001376368""; ...",Tjp2,NM_001376368
1014767,chr19,refGene,exon,24193709,24193829,.,-,.,"gene_id ""Tjp2""; transcript_id ""NM_001376368""; ...",Tjp2,NM_001376368
1014769,chr19,refGene,exon,24224851,24225026,.,-,.,"gene_id ""Tjp2""; transcript_id ""NM_001376368""; ...",Tjp2,NM_001376368

In [3]:
gt = df.groupby([9,10]).size()
gt

9              10
0610005C13Rik  NR_038165        4
               NR_038166        5
0610009B22Rik  NM_025319        2
0610009E02Rik  NR_152207        3
               NR_152208        2
                               ..
Zzz3           NM_001287139    14
               NM_001346655    13
               NM_001355673    13
a              NM_015770        4
ccdc198        NM_025956        7
Length: 44446, dtype: int64

In [4]:
df[df[9]=="0610005C13Rik"]

,0,1,2,3,4,5,6,7,8,9,10
68807,chr7,refGene,exon,45567795,45568379,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038166
68808,chr7,refGene,exon,45570986,45571192,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038166
68809,chr7,refGene,exon,45574413,45574522,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038166
68810,chr7,refGene,exon,45574608,45574777,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038166
68811,chr7,refGene,exon,45575127,45575176,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038166
727623,chr7,refGene,exon,45567795,45568379,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038165
727624,chr7,refGene,exon,45574413,45574522,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038165
727625,chr7,refGene,exon,45574608,45574777,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038165
727626,chr7,refGene,exon,45575127,45575176,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",0610005C13Rik,NR_038165

In [5]:
gt.index

MultiIndex([('0610005C13Rik',    'NR_038165'),
            ('0610005C13Rik',    'NR_038166'),
            ('0610009B22Rik',    'NM_025319'),
            ('0610009E02Rik',    'NR_152207'),
            ('0610009E02Rik',    'NR_152208'),
            ('0610009E02Rik',    'NR_152209'),
            ('0610009L18Rik',    'NR_038126'),
            ('0610010F05Rik', 'NM_001347242'),
            ('0610010F05Rik',    'NM_027860'),
            ('0610010F05Rik',    'NR_156450'),
            ...
            (          'Zyx', 'NM_001289618'),
            (          'Zyx', 'NM_001289619'),
            (          'Zyx',    'NM_011777'),
            (        'Zzef1', 'NM_001045536'),
            (         'Zzz3', 'NM_001080755'),
            (         'Zzz3', 'NM_001287139'),
            (         'Zzz3', 'NM_001346655'),
            (         'Zzz3', 'NM_001355673'),
            (            'a',    'NM_015770'),
            (      'ccdc198',    'NM_025956')],
           names=[9, 10], length=44446)

In [6]:
gte = df.groupby([9,10,0,3,4]).size()
gte

9              10         0      3         4
0610005C13Rik  NR_038165  chr7   45567795  45568379    1
                                 45574413  45574522    1
                                 45574608  45574777    1
                                 45575127  45575176    1
               NR_038166  chr7   45567795  45568379    1
                                                      ..
ccdc198        NM_025956  chr14  49234463  49234564    1
                                 49235880  49235966    1
                                 49243729  49243811    1
                                 49245041  49245261    1
                                 49245358  49245428    1
Length: 427386, dtype: int64

In [7]:
np.sort(gte.values)

array([1, 1, 1, ..., 1, 1, 1])

In [8]:
gtl = df.groupby([9,0,3,4]).first().reset_index()
gtl['len'] = gtl[4]-gtl[3]+1 # +1 or not?
gtl['num30mer'] = (gtl['len']/30).astype(int) # 
gtl

,9,0,3,4,1,2,5,6,7,8,10,len,num30mer
0,0610005C13Rik,chr7,45567795,45568379,refGene,exon,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",NR_038166,585,19
1,0610005C13Rik,chr7,45570986,45571192,refGene,exon,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",NR_038166,207,6
2,0610005C13Rik,chr7,45574413,45574522,refGene,exon,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",NR_038166,110,3
3,0610005C13Rik,chr7,45574608,45574777,refGene,exon,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",NR_038166,170,5
4,0610005C13Rik,chr7,45575127,45575176,refGene,exon,.,-,.,"gene_id ""0610005C13Rik""; transcript_id ""NR_038...",NR_038166,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
238201,ccdc198,chr14,49234463,49234564,refGene,exon,.,-,.,"gene_id ""ccdc198""; transcript_id ""NM_025956""; ...",NM_025956,102,3
238202,ccdc198,chr14,49235880,49235966,refGene,exon,.,-,.,"gene_id ""ccdc198""; transcript_id ""NM_025956""; ...",NM_025956,87,2
238203,ccdc198,chr14,49243729,49243811,refGene,exon,.,-,.,"gene_id ""ccdc198""; transcript_id ""NM_025956""; ...",NM_025956,83,2
238204,ccdc198,chr14,49245041,49245261,refGene,exon,.,-,.,"gene_id ""ccdc198""; transcript_id ""NM_025956""; ...",NM_025956,221,7
238205,ccdc198,chr14,49245358,49245428,refGene,exon,.,-,.,"gene_id ""ccdc198""; transcript_id ""NM_025956""; ...",NM_025956,71,2

In [9]:
gene_probes = gtl.groupby(9)[['len', 'num30mer']].sum()
gene_probes

                 len  num30mer
9
0610005C13Rik   1122        34
0610009B22Rik    795        25
0610009E02Rik   1974        63
0610009L18Rik    619        20
0610010F05Rik   5020       156
...              ...       ...
Zyx             4504       144
Zzef1          11150       346
Zzz3            7909       255
a                692        21
ccdc198         1167        35

[25239 rows x 2 columns]

In [10]:
gene_probes['num30mer_cont'] = (gene_probes['len']/30).astype(int)
gene_probes.index.name = 'gene'
gene_probes

                 len  num30mer  num30mer_cont
gene
0610005C13Rik   1122        34             37
0610009B22Rik    795        25             26
0610009E02Rik   1974        63             65
0610009L18Rik    619        20             20
0610010F05Rik   5020       156            167
...              ...       ...            ...
Zyx             4504       144            150
Zzef1          11150       346            371
Zzz3            7909       255            263
a                692        21             23
ccdc198         1167        35             38

[25239 rows x 3 columns]

In [11]:
output = "/bigstore/GeneralStorage/fangming/projects/dredfish/packages/PaintSHOP_pipeline/test2/data/num30mer_estimate.csv"
gene_probes.to_csv(output, header=True, index=True)