In [1]:
import numpy as np
import pandas as pd
import os

RS0639
"TATCTCATCAATCCCACACT"

In [2]:
charpair = {
    'A': "T",
    'T': "A",
    'C': "G",
    'G': "C",
}

def rev_comp(seq):
    rseq = ""
    for char in seq[::-1]:
        rseq += charpair[char]
    return rseq

In [3]:
newname = "RS0639"
newseq = "TATCTCATCAATCCCACACT"
print(newseq)
print(rev_comp(newseq))

TATCTCATCAATCCCACACT
AGTGTGGGATTGATGAGATA

In [4]:
len(newseq)

20

In [5]:
ddir = "/bigstore/GeneralStorage/fangming/projects/dredfish/res_seq"
f = os.path.join(ddir, "readout_24bits.csv")
df = pd.read_csv(f, index_col=0)
df['name'] = df['name'].apply(lambda x: x.split('_')[0])
df = pd.concat([df,
                pd.Series({'name': newname, 'seq': rev_comp(newseq)}).to_frame().T
               ],
               ignore_index=True,
              )
df['seq_readout'] = df['seq'].apply(lambda x: rev_comp(x))
df['seq_encode'] = df['seq']
df = df.drop('seq', axis=1)
df

         name           seq_readout            seq_encode
0      RS0095  ACTCCACTACTACTCACTCT  AGAGTGAGTAGTAGTGGAGT
1      RS0109  ACCCTCTAACTTCCATCACA  TGTGATGGAAGTTAGAGGGT
2      RS0175  ACCACAACCCATTCCTTTCA  TGAAAGGAATGGGTTGTGGT
3      RS0237  TTTCTACCACTAATCAACCC  GGGTTGATTAGTGGTAGAAA
4      RS0307  TATCCTTCAATCCCTCCACA  TGTGGAGGGATTGAAGGATA
5      RS0332  ACATTACACCTCATTCTCCC  GGGAGAATGAGGTGTAATGT
6      RS0384  TTCTCCCTCTATCAACTCTA  TAGAGTTGATAGAGGGAGAA
7      RS0406  ACCCTTACTACTACATCATC  GATGATGTAGTAGTAAGGGT
8      RS0451  TCCTAACAACCAACTACTCC  GGAGTAGTTGGTTGTTAGGA
9      RS0468  TCTATCATTACCCTCCTCCT  AGGAGGAGGGTAATGATAGA
10     RS0548  TATTCACCTTACAAACCCTC  GAGGGTTTGTAAGGTGAATA
11    RS156.0  CCACCTTCCTACATAATACC  GGTATTATGTAGGAAGGTGG
12    RS278.0  ACACTCTACAACCACTTCTC  GAGAAGTGGTTGTAGAGTGT
13    RS313.0  AACACCACAACCTACTAACC  GGTTAGTAGGTTGTGGTGTT
14     RS64.0  TCACTCAATCACCTCACTTC  GAAGTGAGGTGATTGAGTGA
15    RS643.0  CACCACCAATCACCTTATAC  GTATAAGGTGATTGGTGGTG
16    RS740.0  ACTACACATCAACCTACTCC  GGAGTAGGTTGATGTGTAGT
17    RS810.0  ACCTACCTTAACACACACTC  GAGTGTGTGTTAAGGTAGGT
18  RSN1252.0  CCAATACCTAATCCTCTCTC  GAGAGAGGATTAGGTATTGG
19  RSN1807.0  ACCATCCTTAATCAACCACC  GGTGGTTGATTAAGGATGGT
20  RSN2336.0  CACATTCTCACCACTCACAT  ATGTGAGTGGTGAGAATGTG
21  RSN4287.0  CCTCACAAATTCTAACCTCC  GGAGGTTAGAATTTGTGAGG
22  RSN9535.0  CCTCCTAACATAACACCTAC  GTAGGTGTTATGTTAGGAGG
23  RSN9927.0  CAACCACTAACCTCTAACCA  TGGTTAGAGGTTAGTGGTTG
24     RS0639  TATCTCATCAATCCCACACT  AGTGTGGGATTGATGAGATA

In [6]:
fout = os.path.join(ddir, "readout_25bits_Nov16_2022.csv")
df.to_csv(fout)